*{
  margin:0;
}
.app{
  background-color: #fafafa;
}
.app-header{
  background-color: white;
  display:flex;
  justify-content: space-between;
  padding:10px;
  border-bottom:1px solid lightgrey;
}
.header-logo{
  object-fit: contain;
}

.alt-div{
  position: fixed;
  bottom: 0px;
  z-index: 5;
  display: flex;
  background-color: rgba(51,51,51,0.5);
  width: 100%;
}
.upload-alt{
  padding: 5px;
  margin:auto
}