*{
  margin:0;
}
.app{
  background-color: #fafafa;
}
.app-header{
  background-color: white;
  display:flex;
  justify-content: space-between;
  padding:10px;
  border-bottom:1px solid lightgrey;
}
.header-logo{
  object-fit: contain;
}